nav{
    position: fixed;
    width: 100%;
    display: flex;
    height: 12vh;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.nav-logo{
    width: clamp(9rem, 10vw, 50rem);
    height: 100%;
    margin-left: -2vw;
}
.nav-btn{
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.invisible{
    opacity: 0;
    transition: 1s;
}
.line{
    width: 50px;
    height: 1px;
    background-color: #fff;
    margin-right: 3vw;
    margin-bottom: 1.5vh;
    position: relative;
    transition: 1s;
   
}

.rotated-1, .rotated-2{
    background-color: #000;
}
.rotated-1{
    transform: rotate(45deg);
    transform-origin: left;
    position: absolute;
    margin-left: 17px;
    margin-right: 5px;
    z-index: 9999;
}
.rotated-2{
    transform: rotate(-45deg);
    transform-origin: right;
    margin-bottom: 4rem;
}

.nav-links{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
    z-index: 999;
    gap: clamp(3rem, 10vh, 70rem);
}
.nav-link{
    cursor: pointer;
    
}
.nav-link h1{
    color: black;
    font-weight: 300;
    font-size: clamp(3rem, 5vw, 30rem);
    z-index: 10000;
    position: relative;
    border-bottom: 1px solid #000;
    width: 100vw;
    padding: 0 3vw;
}
.nav-link-3 h1{
    text-align: right;
}
.nav-link-2 h1{
    text-align: center;
}



.overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index:999;
    transition: .5s;
}
.overlay-1, .overlay-2, .overlay-3{
    opacity: 0;
}
.nav-link-1:hover .overlay-1{
    background-color: #679289;
    opacity: 1;
}
.nav-link-2:hover .overlay-2{
    background-color: #60656F;
    opacity: 1;
}
.nav-link-3:hover .overlay-3{
    background-color: #7c9eb2;
    opacity: 1;
}