.landing-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.landing-container{
    margin: 0 auto;
    position: relative;
    width: 80%;
    text-align: center;
    white-space: nowrap;
}
.landing-container h1{
    font-size: 15vw;
    animation: marquee 12s linear infinite;
    font-weight: 300;
    padding-left: 100%;
    display: inline-block;

}
.landing-img-container{
    width: 25vw;
    height: 50vh;
    background-color: #f7c4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img{
    filter: brightness(.7) grayscale(.2) ;
}
.landing-img-container::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
}

@keyframes marquee{
    100%{
        transform: translate(-100%, 0);
    }
}

@media screen and (max-width: 1000px) {
    .landing-img-container{
        width: 20rem;
        height: 20rem;
    }
}
@media screen and (max-width: 500px) {
    .landing-img-container{
        width: 15rem;
        height: 15rem;
    }
}