.landing-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.landing-container{
    margin: 0 auto;
    position: relative;
    width: 80%;
    text-align: center;
    white-space: nowrap;
}
.landing-container h1{
    font-size: 15vw;
    animation: marquee 12s linear infinite;
    font-weight: 300;
    padding-left: 100%;
    display: inline-block;

}
.landing-img-container{
    width: 25rem;
    height: 25rem;
    background-color: #f7c4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes marquee{
    100%{
        transform: translate(-100%, 0);
    }
}