.parallax-container{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.parallax-container::-webkit-scrollbar{
    display: none;
}